.item {
    display: flex;
    background-color: rgb(255, 255, 255, 0.6);
    flex-direction: column;
    box-shadow: 0 0 0.2em #010b23;
    border: hidden;
    border-radius: 20px;
    height: 200px;
    min-width: 15em;
    width: 100%;
    margin-bottom: 3%;
    margin-right: 3%;
    padding: 0% 10% 3% 10%;
    justify-content: center;
}

.item:hover {
    background-color: #c8e8db;
}

.item:active {
    background-color: #92ccde;
}

.button-note {
    background-color: rgba(1, 1, 1, 0);
    border-radius: 20px;
    height: 12em;
    max-height: 11em;
    min-width: 15em;
    width: 100%;
    margin-bottom: 5%;
    margin-right: 3%;
}