.topnav {
    overflow: hidden;
}

.topnav input[type=text] {
    margin-top: 3px;
    margin-bottom: 3px;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    text-align: center;
    padding: 10px 0px 10px 10px;
    width: 40%;
}

input {
    border: none;
    border-radius: 15px;
    font-size: 20px;
    text-align: center;
    padding: 10px 0px 10px 10px;
    width: 40%;
}

.topnav.sub input[type=text] {
    width: 15em;
    text-align: center;
    padding-left: 1%;
}

.topnav.amin1 input[type=text] {
    width: 100%;
    margin: 5% 0;
    background-color: #06a137;
}

.topnav.amin2 input[type=text] {
    width: 100%;
    margin: 5% 0;
    background-color: #d62929;
}

.topnav input[type=text]:hover {
    background-color: #ebf0fa;
}

.topnav input[type=text]:active {
    background-color: #d8deeb;
}

.login_button {
    overflow: hidden;
    background-color: #57b846;
    margin-top: 3%;
    font-size: 20px;
    padding: 10px 0px;
    border-radius: 15px;
    border: none;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}

.login_button.back {
    background-color: #ededed;
    width: 15%;
    margin-top: 0;
}

.login_button.back:hover {
    background-color: #ededed;
    width: 15%;
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.5);
}

.make-admin {
    overflow: hidden;
    background-color: #57b846;
    font-size: 16px;
    padding: 0;
    border-radius: 10px;
    border: none;
    padding: 10px 10px 10px 10px;
}

.make-admin-cont {
    margin-right: 5px;
    align-self: center;
}

.make-admin:hover {
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.5);
}

.make-admin:active {
    background-color: #3d912f;
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.5);
}

.delete-user {
    overflow: hidden;
    background-color: #e31414;
    font-size: 16px;
    padding: 0;
    border-radius: 10px;
    border: none;
    padding: 10px 10px 10px 10px;
    align-self: end;
    justify-self: start;
}

.delete-user:hover {
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.5);
}

.delete-user:active {
    background-color: rgb(255, 0, 0);
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.5);
}

.login_button:hover {
    background-color: #06a137;
    /*Very green*/
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
}

.acc {
    margin-top: 15%;
    font-size: 17px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    border: hidden;
    border-radius: 15px;
}

.acc:hover {
    background-color: black;
    color: white
}

.new-select-style-wpandyou {
    border: 1px solid #CCC;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
    overflow: hidden;
    color: #76767a;
    background-color: white;
    width: 40%;
    height: 41px;
    font-size: 20px;
    text-align: center;
}

.new-select-style-wpandyou select {
    border-radius: 15px;
    background: transparent;
    height: 34px;
    padding: 5px;
    border: 0;
    font-size: 20px;
    line-height: 1;
    width: 100%;
    color: #76767a;
    text-align: center;
}

.butts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}